
.normal {
  font-family: Georgia, sans-serif;
  /* text-align: center; */
}

.title {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: rgba(73, 132, 241, 1);
  padding: .6em 0;
  color: white;
  margin: 0;
}
